bin
obj
dist
.idea
.gradle

.terraform
terraform.output
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
build.inputs
build-inputs.json
task-inputs.json
aws-credentials.json
build.state
private-key.json
public-key.json
client-secrets.json
website-files.tf
gradle.properties